.tasklist {
    margin-top: 15px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.tasklist-top-buttons {
    display: flex;
}

.tasklist-top-buttons button.add-new-task {
    margin-left: auto
}

h3.tasks-loading {
    margin-top: 50px;
}