.fellow {
    width: 32%;
    height: 500px;
    border-width: 2px !important;
}

.fellow .fellow-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fellow .fellow-title h5 {
    flex-grow: 1;
    padding-left: 42px;
}

.fellow .fellow-content {
    overflow-y: auto;
    height: 92%;
}

.fellow .fellow-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}