body {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  background-color: #000;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-header h1 {
  flex-grow: 1;
  margin-bottom: 0px;
}

.clickable {
    cursor: pointer;
}

.flex-no-shrink {
    flex-shrink: 0;
}
