.fellows-view .add-fellow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
}

.fellows-view .fellows {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.add-fellow .input-group {
    width: 600px;
}